[Desktop Entry]
Name=Grade Check
Exec=gnome-terminal --window-with-profile="command" -x sh -c 'python ~/Desktop/Sources/Python/GradeCheck/GradeCheck.py'
Type=Application
X-GNOME-Autostart-enabled=true
